<html ng-app= "gApp">
<head>
	<title>Flip Cards</title>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script type="text/javascript">
		var gAppModule = angular.module("gApp", ["ngRoute"]);
		gAppModule.config(function($routeProvider){
			$routeProvider
			.when("/users", {
				templateUrl: "../static/partials/users.html"
			}).otherwise({
				templateUrl: "../static/partials/board.html"
			})		
		});

		gAppModule.factory("UserFactory", function($http){
			var factory = {};
			var users = [];
			factory.index = function(callback){
				$http.get("/REPLACE").success(function(dbinfo){
					users = dbinfo;
					callback(users);
				});
			};
			return factory;
		});

		gAppModule.controller("UsersController", function($scope, UserFactory){
			UserFactory.index(function(dbinfo){
				$scope.users = dbinfo;
			});
		});
		gAppModule.controller("MovesController", function($scope, UserFactory){
			var cards = []

			for(var i =0; i< 4; i++){
				cards.push([])
				for(var j =0 ; j<3; j++){
					cards[i].push({card:{
						flip: false,
						col:j,
						row: i,
						match: false,
					}});
				};
			};
			console.log(cards)
			$scope.getBoard = cards

			$scope.buildBoard = function(){
				var output = "";
				for(var i =0; i< cards.length; i++){
					output += "<div class = 'row'>"
					for(var j =0 ; j<cards[i].length; j++){
						output += "\n<div ng-switch on=‘cards["+i+"]["+j+"]"+".card.flip’>\n\t<div ng-switch-when= false>\n\t\t<a ng-click='cards["+i+"]["+j+"]"+".card.flip=true’>\n\t\t\t<div class='col-sm-3 card' style='background: #6ADBD8; width: 20%; height:20% ; margin: 5px' ></div>\n\t\t</a>\n\t</div>\n\t<div ng-switch-when= true>\n\t\t<a ng-click='cards["+i+"]["+j+"]"+".card.flip=false'>\n\t\t\t<div class='col-sm-3 card text-center' style='background: #414141; width: 20%; height:20% ; margin: 5px; color:#FF6F5C;'><h2 style='margin-top: 25%'>Apple</h2></div>\n\t\t</a>\n\t</div>\n</div>"
					};
					output += "</div>"
				};
				return output
			};

			console.log($scope.buildBoard())
			$scope.card ={
				flip:false
			}
		})

	</script>
	
</head>
<body>
	<div class= "container">
		<a href = "#/users">Users</a>
		<div class = "row" ng-view=""></div>
	</div>

</body>
</html>
