<div ng-controller = "BoardsController">
	<div class = "col-lg-9" ng-repeat="card in cards track by $index">
		<div class = "single" ng-repeat = "dict in card track by $index">
			<div ng-if= "dict.card.flip == false;">
				<div ng-click="dict.card.flip = true; flip(); click(dict.card.face, dict.card.id); total()">
					<div class="col-sm-3 frontCard"></div>
				</div>
			</div>

			<div ng-if= "dict.card.flip == true">
				<div class="col-sm-3 backCard text-center">
					<h2 style="margin-top: 25%">{{dict.card.face}}</h2>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div style="text-align:left"><h1><span style="color: #FF6F5C">Memory</span><span style="color: #6ADBD8"> Lane</span></h1></div>
		<hr>
		
		<h3>Pairs: <span style="color: #FF6F5C">{{wins}}</span></h3>
		<h3>Moves: <span style="color: #FF6F5C">{{totClicks}}</span></h3>
		<h3>Missed: <span style="color: #FF6F5C">{{misses}}</span></h3>

		<a class = "btn btn-stats" href ="#/history">All Records</a>
		<br> <br>
		<a class="btn btn-stats" href="/" target="_self">New Game</a>

		<br> <br>
		<div ng-if="playTime">
			<h3>Time: <span style="color: #FF6F5C">{{playTime}} <span style="color: #056571">s</span></span></h3>
			<a class="btn btn-stats" href="#/individual">Game Stats</a>
		</div>
	</div>
</div>