<div ng-controller = "HistorysController">
		<h2 class="text-center">Top Ten Players</h2>
		<br>
		<table class="table table-striped">
		    <thead>
		      <tr>
		      	<th>Player</th>
		        <th>Date</th>
		        <th>Time</th>
		        <th>Duration</th>
		        <th>Moves</th>
		        <th>Missed</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat = "game in games| orderBy: 'moves' | limitTo:10">
		      	<td>{{game.user}}</td>
		        <td>{{game.created_at | date: format:timezone}}</td>
		        <td>{{game.created_at | date: "h:mm:ss"}}</td>
		        <td>{{game.playTime}} seconds</td>
		        <td>{{game.moves}}</td>
		        <td>{{game.misses}}</td>
		      </tr>
		    </tbody>
		 </table>
		 <a class = "btn btn-stats" href ="/">New Game</a>
</div>