*{
	color: #056571;
}
#gray{
	background: #414141; 
	min-height: 10px;
}
#lightBlue{
	background: #6ADBD8;
	min-height: 10px; 
}
#peach{
	background: #FF6F5C;
	min-height: 10px; 
}
#darkBlue{
	background: #056571;
	min-height: 10px; 
}
.backCard{
	background: #414141; 
	width: 20%; 
	height:20% ; 
	margin: 5px; 
	color:#FF6F5C;
}
.frontCard{
	background: #6ADBD8; 
	width: 20%; 
	height:20% ; 
	margin: 5px
}
.btn-stats{
	background: #414141;
	color: #6ADBD8;
}
.btn-stats:hover{
	background: #414141;
	color: #FF6F5C;
}
.graph div {
  background-color: #056571;
  color: #6ADBD8;
  text-align: right;
  padding: 3px;
  margin: 1px;
  width:25%;
  display: inline-block;
  vertical-align: bottom;
}
.labels div {
  display: inline-block;
  color: #FF6F5C;
  font-weight:bold ;
  text-align: center;
  width:25%;
  vertical-align: bottom;
  padding: 3px;
  margin: 2px;
}